{% extends 'base.html' %}

{% block title %}
	Feeds
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col"></div>
		<div class="col-md-10">
			<h1 class="py-3 px-2 bg-dark text-light">Following</h1>
			<div class="container">
				{% for user in users_followed %}
					<div class="my-4 border-top py-2">
						<div class="row">
							<div class="col-md-2 text-center">
								{% if user.profile.picture %}
									<img class="card-img-top" style="max-height: 30%; max-width: 40%; border-radius: 50%" src='{{ user.profile.picture.url }}'>
									{% else %}
										<div class="container mt-1 text-center"><i class="fas fa-5x fa-user"></i></div>
								{% endif %}
							</div>
							<div class="col-md-10">
								<div class="h-100 w-100 d-flex align-items-center justify-items-center">
									<a href="{% url 'accounts:view-profile' user.username %}">{{ user.first_name }} {{ user.last_name }} </a>
									 <a class="mx-2 btn btn-light" href="{% url 'accounts:unfollow' user.username %}"> Unfollow <i class="fas fa-user-cogs"></i></a>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<h3 class="py-3 px-2 bg-dark text-light">Follow Friends</h3>
				<div class="container">
					{% for user in unfollowed_users %}
						<div class="my-4 border-top py-2">
							<div class="row">
								<div class="col-md-2 text-center">
									{% if user.profile.picture %}
										<img class="card-img-top" style="max-height: 30%; max-width: 40%; border-radius: 50%" src='{{ user.profile.picture.url }}'>
										{% else %}
											<div class="container mt-1 text-center"><i class="fas fa-5x fa-user"></i></div>
									{% endif %}
								</div>
								<div class="col-md-10">
									<div class="h-100 w-100 d-flex align-items-center justify-items-center">
											<a href="{% url 'accounts:view-profile' user.username %}">{{ user.first_name }} {{ user.last_name }} </a>
										<a class="btn btn-dark mx-3" href="{% url 'accounts:follow' user.username %}"><i class="fas fa-user-plus"></i></a>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
		</div>
	</div>
{% endblock %}